<% content_for :title do %>
  <%= I18n.t(:"title.maintenance.rsi_api_status") %>
<% end %>
<div class="row" id="rsi_api_status">
  <div class="col-12 col-md-12">
    <div class="row">
      <div class="col-12">
        <h1><%= I18n.t(:"headlines.admin.maintenance.rsi_api_status.index") %></h1>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div class="panel panel-default">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><%= I18n.t('labels.table.url') %></th>
                  <th><%= I18n.t('labels.table.created_at') %></th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "admin/maintenance/rsi_api_status_detail", collection: @rsi_api_status, as: :status %>

                <% if @rsi_api_status.blank? %>
                  <%= render "shared/tables/blank", count: 3, resource: "rsi_api_status" %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
