= form_for [:admin, manufacturer] do |form|
  .row
    .col-12.col-md-6.form-group{class: form_error?(manufacturer, :name)}
      = form.label :name
      = form.text_field :name, placeholder: I18n.t(:"helpers.placeholder.name"), class: 'form-control'
      %small
        = form_errors manufacturer, :name

    .col-12.col-md-6.form-group{class: form_error?(manufacturer, :logo)}
      = form.label :logo
      = form.file_field :logo, class: 'form-control'
      = form.hidden_field :logo_cache
      %br
      - if manufacturer.logo?
        = image_tag(manufacturer.logo.url)
        %br
        = form.check_box :remove_logo
        Remove Logo
      %small
        = form_errors manufacturer, :logo

  = render "shared/submit", path: admin_manufacturers_path
