= form_for [:admin, manufacturer] do |form|
  .row
    .col-xs-12.col-md-6.form-group{class: form_error?(manufacturer, :name)}
      = form.text_field :name, placeholder: I18n.t(:"helpers.placeholder.name"), class: 'form-control'
      %small
        = form_errors manufacturer, :name

    .col-xs-12.col-md-6.form-group{class: form_error?(manufacturer, :logo)}
      = form.file_field :logo, placeholder: I18n.t(:"helpers.placeholder.logo"), class: 'form-control'
      %small
        = form_errors manufacturer, :logo

  = render "shared/submit", path: admin_manufacturers_path
