- content_for :title do
  = I18n.t(:"title.manufacturer.index")
.row#manufacturers
  .col-12.col-md-12

    .row
      .col-12.col-md-8
        %h1
          = I18n.t(:"headlines.admin.manufacturer.index")

      .col-12.col-md-4
        .d-flex.justify-content-end
          .btn-group
            = link_to I18n.t(:"actions.admin.manufacturer.new"), new_admin_manufacturer_path, 'data-turbolinks': "false", class: "btn btn-dark"

    .row
      .col-12.d-flex.justify-content-center
        = paginate @manufacturers

    .row.mb-3
      .col-12.col-md-9
        .panel.panel-default
          = render partial: "admin/manufacturers/table", :@manufacturers => @manufacturers

      .col-12.col-md-3
        = search_form_for [:admin, @q] do |f|
          .form-group
            = f.label :name_or_slug_cont
            = f.search_field :name_or_slug_cont, class: 'form-control'

          .btn-group
            %button.btn.btn-primary
              Filter
            - if params[:q].present?
              %a.btn.btn-dark{href: request.path, title: "Clear Search"}
                %i.fa.fa-times

    .row
      .col-12.d-flex.justify-content-center
        = paginate @manufacturers
