- content_for :title do
  = I18n.t(:"title.manufacturer.index")
.row#manufacturers
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.admin.manufacturer.index")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"actions.admin.manufacturer.new"), new_admin_manufacturer_path, class: "btn btn-default"

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        = paginate @manufacturers

    .panel.panel-default
      = render partial: "admin/manufacturers/table", :@manufacturers => @manufacturers

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        = paginate @manufacturers
