- content_for :title do
  = I18n.t(:"title.component.#{components_type}.index")
.row#components
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-sm-6
        %h1
          = I18n.t(:"headlines.component.#{components_type}.index")
      .col-xs-12.col-sm-6
        .pull-right
          = paginate components

    .row.is-flex
      - components.each do |component|
        - cache component do
          .col-md-4.col-sm-6.col-xs-12
            = render "show", component: component

    .row
      .col-xs-12.col-md-12
        .pull-right
          = paginate components
