- cache component do
  - content_for :title do
    = component.name
  .row#ship-profile
    .col-xs-12.col-md-12

      .row
        .col-xs-12.col-md-6
          %h1
            = component.name
            %small
              = component.component_type.capitalize

        .col-xs-12.col-md-6
          .btn-group.pull-right.resource-nav
            - back_params = params.dup
            - back_params.delete(:id)
            %a.btn.btn-default{href: send("#{component.category.slug}_components_path", back_params)}
              = I18n.t(:"actions.back")

      .row
        .col-xs-12.col-md-8
          .well
            %p
              = "Size: #{component.size}"

      .row#comments
        .col-xs-12.col-md-12
          %h3
            = I18n.t(:"headlines.comments")
          = render "shared/disqus", title: component.name, url: component_url(component), category_id: 2849266
