- content_for :title do
  = I18n.t(:"title.my_ship", ship: ship.name)
.row
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-12
        %h1
          = I18n.t(:"headlines.my_ship", ship: ship.name)

    = form_for user_ship, url: my_ship_path(user_ship), method: :put do |form|
      = form.hidden_field :ship_id
      .row
        .col-xs-12.col-md-6.form-group{class: form_error?(user_ship, :name)}
          = form.label :name
          = form.text_field :name, class: 'form-control'
          %small
            = form_errors user_ship, :name

      = render "shared/submit", path: hangar_path
