= form_for [:admin, shop], html: { multipart: true } do |form|
  .row
    .col-12.col-md-6.form-group{class: form_error?(shop, :name)}
      = form.label :name
      = form.text_field :name, class: 'form-control'
      %small
        = form_errors shop, :name

    .col-12.col-md-6.form-group{class: form_error?(shop, :station_id)}
      = form.label :station_id
      = form.select :station_id, Station.all.order(name: :asc).map { |c| [c.name, c.id] }, { include_blank: I18n.t(:"helpers.prompt.shops.station") }, { class: 'form-control' }
      %small
        = form_errors shop, :station_id

    .col-12.col-sm-3
      .form-group
        = form.check_box :hidden, placeholder: I18n.t(:"helpers.placeholder.shop.hidden"), class: 'checkbox'
        = form.label :hidden do
          = I18n.t(:"activerecord.attributes.shop.hidden")

    .col-12.col-sm-3
      .form-group
        = form.check_box :selling, placeholder: I18n.t(:"helpers.placeholder.shop.selling"), class: 'checkbox'
        = form.label :selling do
          = I18n.t(:"activerecord.attributes.shop.selling")

    .col-12.col-sm-3
      .form-group
        = form.check_box :buying, placeholder: I18n.t(:"helpers.placeholder.shop.buying"), class: 'checkbox'
        = form.label :buying do
          = I18n.t(:"activerecord.attributes.shop.buying")

    .col-12.col-sm-3
      .form-group
        = form.check_box :rental, placeholder: I18n.t(:"helpers.placeholder.shop.rental"), class: 'checkbox'
        = form.label :rental do
          = I18n.t(:"activerecord.attributes.shop.rental")

    .col-12.col-md-6.form-group{class: form_error?(shop, :shop_type)}
      = form.label :shop_type
      = form.select :shop_type, Shop.shop_types.keys.map { |w| [Shop.human_enum_name(:shop_type, w), w] }, { include_blank: I18n.t(:"helpers.prompt.shops.shop_type") }, { class: 'form-control' }
      %small
        = form_errors shop, :shop_type

    .col-12.col-sm-3
      .form-group
        = form.check_box :refinery_terminal, placeholder: I18n.t(:"helpers.placeholder.shop.refinery_terminal"), class: 'checkbox'
        = form.label :refinery_terminal do
          = I18n.t(:"activerecord.attributes.shop.refinery_terminal")

    .col-12.col-md-6.form-group{class: form_error?(shop, :store_image)}
      = form.label :store_image
      = form.file_field :store_image, class: 'form-control'
      = form.hidden_field :store_image_cache
      %br
      - if shop.store_image?
        = image_tag(shop.store_image.url)
        %br
        = form.check_box :remove_store_image
        Remove Image
      %small
        = form_errors shop, :store_image

  = render "shared/submit", path: admin_shops_path
