%tr{id: shop.id}
  %td.preview.text-center
    = image_tag shop.store_image.url
  %td
    = shop.name
  %td
    = shop.station.name
  %td
    - if shop.hidden?
      %i.fa.fa-check
    - else
      %i.far.fa-square
  %td.text-right
    .btn-group
      = link_to edit_admin_shop_path(shop), 'data-turbolinks': "false", title: I18n.t(:"actions.edit"), class: "btn btn-dark" do
        %i.fa.fa-edit
      = confirm_link_to admin_shop_path(shop), data: { notyConfirm: I18n.t(:"messages.confirm.delete") }, title: I18n.t(:"actions.delete"), method: :delete, class: "btn btn-danger" do
        %i.fa.fa-trash
