.row
  .col-md-12
    .jumbotron.text-center
      %h2
        %small
          = I18n.t(:"headlines.base.index")
        FleetYards.net
      .row
        .col-xs-12.col-md-offset-3.col-md-6
          = render "ships/search"
      .row
        .col-xs-12.col-md-12
          Your Ship-Database for the upcomming Space Simulation
          %i
            "Star Citizen"


.row
  .col-xs-12.col-md-8.col-md-offset-4
    %blockquote.pull-right
      %p
        “Strap into one of dozens of ships and embark on a life within the Star Citizen universe. Unbound by profession or skill sets, you choose the path of your own life.”
      %small
        Source Unknown

.row
  .col-xs-12.col-md-6
    %h3
      = I18n.t(:"headlines.ship.updates")
    .list-group
      - Ship.all.limit(5).order("updated_at desc").each do |ship|
        %a.list-group-item{href: ship_path(ship)}
          %h4.list-group-item-heading
            = ship.name
          %p.list-group-item-text
            = ship.description
  .col-xs-12.col-md-6
    %h3
      = I18n.t(:"headlines.image.updates")
    .row
      - Image.all.limit(6).order("updated_at desc").each_with_index do |image, index|
        - if index %2 == 0 && index != 0
          .row.visible-sm.visible-md
        .col-xs-12.col-sm-6.col-md-6
          %a.thumbnail{href: gallery_ship_path(image.gallery.slug)}
            %img{src: image.name, alt: image.name.filename}
