= form_for [:admin, ship], html: { multipart: true } do |form|
  .row
    .col-xs-12.col-md-6.form-group{class: form_error?(ship, :name)}
      = form.label :name
      = form.text_field :name, class: 'form-control'
      %small
        = form_errors ship, :name

    .col-xs-12.col-md-6.form-group{class: form_error?(ship, :store_image)}
      - if ship.store_image?
        = image_tag(ship.store_image.small)
        = form.check_box :remove_store_image
        Remove Image
      - else
        = form.label :store_image
        = form.file_field :store_image, class: 'form-control'
        = form.hidden_field :store_image_cache
      %small
        = form_errors ship, :store_image

  %fieldset
    %legend
      Additions:
    #addition
      = form.fields_for :addition, ship.addition do |builder|
        = render 'addition_fields', fields: builder


  = render "shared/submit", path: admin_ships_path
