.row.fields
  .col-xs-12.col-sm-6.col-md-4
    .form-group{class: form_error?(fields.object, :beam)}
      = fields.label :beam
      = fields.number_field :beam, step: '0.01', placeholder: model.beam, class: 'form-control'
      = form_errors fields.object, :beam

  .col-xs-12.col-sm-6.col-md-4
    .form-group{class: form_error?(fields.object, :length)}
      = fields.label :length
      = fields.number_field :length, step: '0.01', placeholder: model.length, class: 'form-control'
      = form_errors fields.object, :length

  .col-xs-12.col-sm-6.col-md-4
    .form-group{class: form_error?(fields.object, :height)}
      = fields.label :height
      = fields.number_field :height, step: '0.01', placeholder: model.height, class: 'form-control'
      = form_errors fields.object, :height

  .col-xs-12.col-sm-6.col-md-4
    .form-group{class: form_error?(fields.object, :mass)}
      = fields.label :mass
      = fields.number_field :mass, step: '0.01', placeholder: model.mass, class: 'form-control'
      = form_errors fields.object, :mass

  .col-xs-12.col-sm-6.col-md-4
    .form-group{class: form_error?(fields.object, :cargo)}
      = fields.label :cargo
      = fields.number_field :cargo, placeholder: model.cargo, class: 'form-control'
      = form_errors fields.object, :cargo

  .col-xs-12.col-sm-6.col-md-4
    .form-group{class: form_error?(fields.object, :net_cargo)}
      = fields.label :net_cargo
      = fields.number_field :net_cargo, class: 'form-control'
      = form_errors fields.object, :net_cargo

  .col-xs-12.col-sm-6.col-md-4
    .form-group{class: form_error?(fields.object, :crew)}
      = fields.label :crew
      = fields.number_field :crew, class: 'form-control'
      = form_errors fields.object, :crew
