%tr{id: model.id}
  %td.preview.text-center
    = image_tag model.store_image.small
  %td.preview.text-center
    - if model.fleetchart_image.present?
      = image_tag model.fleetchart_image
  %td
    = model.name
  %td
    = model.manufacturer.name.html_safe if model.manufacturer.present?
  %td
    = model.focus
  %td.text-right
    .btn-group
      %button.reload-models.btn.btn-default.ladda-button{data: {style: "expand-right", action: reload_one_admin_model_path(model), workerPath: admin_check_worker_state_path('ModelsWorker')}, onclick: "App.Models.reload($(this)); return false;"}
        %i.fa.fa-refresh
      = link_to gallery_admin_model_path(model), title: I18n.t(:"actions.model.gallery"), class: "btn btn-default" do
        %i.fa.fa-image
      = link_to edit_admin_model_path(model), title: I18n.t(:"actions.edit"), class: "btn btn-default" do
        %i.fa.fa-edit
      = confirm_link_to admin_model_path(model), data: {notyConfirm: I18n.t(:"messages.confirm.delete")}, title: I18n.t(:"actions.delete"), method: :delete, class: "btn btn-danger" do
        %i.fa.fa-trash
