- content_for :title do
  = I18n.t(:"title.model.index")
= render 'admin/models/header'

%div{class: "mx-auto px-4 sm:px-6 md:px-8"}
  .row#models
    .col-12.col-md-12
      .row
        .col-12.d-flex.justify-content-center
          = paginate @models

      .row.mb-3
        .col-12.col-md-9
          .panel.panel-default
            = render partial: "admin/models/table", :@models => @models

        .col-12.col-md-3
          = search_form_for [:admin, @q] do |f|
            .form-group
              = f.label :name_or_slug_cont
              = f.search_field :name_or_slug_cont, class: 'form-control'

            .form-group
              = f.label :manufacturer_id_eq
              = f.select :manufacturer_id_eq, options_from_collection_for_select(Manufacturer.all.order(:name), :id, :name_clean, @q.manufacturer_id_eq), { include_blank: true }, { class: 'form-control' }

            .form-group
              = f.label :fleetchart_image_null
              = f.select :fleetchart_image_null, [true, false], { include_blank: true }, { class: 'form-control' }

            .form-group
              = f.label :holo_null
              = f.select :holo_null, [true, false], { include_blank: true }, { class: 'form-control' }

            .btn-group
              %button.btn.btn-primary
                Filter
              - if params[:q].present?
                %a.btn.btn-dark{href: request.path, title: "Clear Search"}
                  %i.fa.fa-times

      .row
        .col-12.d-flex.justify-content-center
          = paginate @models
