- content_for :title do
  = I18n.t(:"title.unlock")
.row
  .col-xs-12.col-md-5.col-md-offset-2
    %h2= I18n.t(:"headlines.unlock")

    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post}) do |f|

      .form-group{class: form_error?(resource, :email)}
        = f.text_field :email, required: true, placeholder: I18n.t(:"helpers.placeholder.user.email"), class: 'form-control'
        %small
          = form_errors resource, :email

      %br

      .form-group
        %button.btn.btn-lg.btn-primary
          = I18n.t(:"actions.unlock")

  .col-xs-12.col-md-3
    = render "devise/shared/links"
