.panel.panel-default
  .panel-heading
    %h2.panel-title
      = I18n.t(:"labels.panels.latest_ships")
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t(:"labels.table.name")
          %th= I18n.t(:"labels.table.ship.manufacturer")
          %th= I18n.t(:"labels.table.updated_at")
          %th.actions.actions-one
      %tbody
        - Ship.unscoped.order(updated_at: :desc).limit(5).each do |ship|
          %tr
            %td
              = ship.name
            %td
              = ship.manufacturer.name.html_safe if ship.manufacturer.present?
            %td
              = I18n.t(:"activerecord.attributes.updated_at", time: time_ago_in_words(ship.updated_at))
            %td
              .btn-group
                = link_to edit_backend_ship_path(ship), title: I18n.t(:"actions.edit"), class: "btn btn-default" do
                  %i.fa.fa-edit
