- Settings.each do |keypath, values|
  - if %i(base mailer).include?(keypath)
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          = I18n.t(:"labels.panels.setting.#{keypath}")
      %table.table.table-striped
        %tbody
          - values.each do |key, value|
            - path = "#{keypath}.#{key}"
            - setting = Setting.find_by_keypath(path)
            - value = setting.value if setting.present?
            %tr
              %td
                = I18n.t(:"activerecord.attributes.setting.#{path}")
              %td
                - if [TrueClass, FalseClass].include?(value.class)
                  = I18n.t(value)
                - else
                  = value
              %td.actions.one
                .btn-group
                  - if setting.present?
                    %a.btn.btn-default.btn-sm{href: edit_backend_setting_path(setting), title: I18n.t(:"actions.edit")}
                      %i.glyphicon.glyphicon-edit
                  - else
                    %a.btn.btn-default.btn-sm{href: new_backend_setting_path(keypath: path), title: I18n.t(:"actions.edit")}
                      %i.glyphicon.glyphicon-edit
