.version
  = "#{Fleetyards::CODENAME} (#{Fleetyards::VERSION})"
%footer#main-footer
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2.text-center#disclaimer
        %p.copyright
          = "Copyright &copy; #{Time.zone.now.year}"
          Torlek Maru
        %p
          Star Citizen and all related properties (including Logos, Images and Designs) are trademarks or registered trademarks of Cloud Imperium Games Corporation. All rights reserved.
