<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
<title><%= admin_title %></title>
<link rel="shortcut icon" type="image/png" href="<%= vite_asset_path('images/admin/favicons/favicon.png') %>">
<meta name="theme-color" content="#333333"/>
<meta name="application-name" content="<%= I18n.t(:"title.default_admin") %>">
<meta name="mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-title" content="<%= I18n.t(:"title.default_admin") %>">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="<%= I18n.t(:"title.default_admin") %>">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="manifest" href="<%= admin_manifest_path(format: :json, digest: admin_manifest_digest) %>" />
<%= favicon_link_tag vite_asset_path('images/admin/favicons/icon-iphone.png'), rel: "apple-touch-icon", type: 'image/png' %>
<%= favicon_link_tag vite_asset_path('images/admin/favicons/icon-ipad.png'), rel: "apple-touch-icon", sizes: "76x76", type: 'image/png' %>
<%= favicon_link_tag vite_asset_path('images/admin/favicons/icon-iphone-retina.png'), rel: "apple-touch-icon", sizes: "120x120", type: 'image/png' %>
<%= favicon_link_tag vite_asset_path('images/admin/favicons/icon-ipad-retina.png'), rel: "apple-touch-icon", sizes: "152x152", type: 'image/png' %>
<%= favicon_link_tag vite_asset_path('images/admin/favicons/icon-ipad-retina.png'), rel: "apple-touch-startup-image", type: 'image/png' %>
<link rel="preconnect" href="<%= ADMIN_API_ENDPOINT %>">
