%ul.navbar-nav.mr-auto
  - if admin_user_signed_in?
    - unconfirmed_shop_commodities = ShopCommodity.where(confirmed: false).count
    - unconfirmed_commodity_prices = CommodityPrice.where(confirmed: false).count
    - models_name_diff_count = Model.where('name != rsi_name AND rsi_id IS NOT NULL').count
    - models_price_diff_count = Model.where('pledge_price != last_pledge_price AND rsi_id IS NOT NULL').count
    %li.nav-item{class: active_nav?('admin')}
      = link_to I18n.t(:"nav.home"), admin_root_path, class: 'nav-link'
    %li.nav-item.dropdown{class: active_nav?(%w(admin-models admin-manufacturers admin-components admin-model_modules admin-model_upgrades admin-models-name-diff admin-models-price-diff))}
      %a.nav-link.dropdown-toggle{href: '#', id: "navbar-models-dropdown", data: {toggle: 'dropdown'}}
        = Model.name.humanize.pluralize
        %b.caret
      .dropdown-menu{"aria-labelledby": "navbar-models-dropdown"}
        = link_to Model.name.humanize.pluralize, admin_models_path, class: "dropdown-item #{active_nav?('admin-models')}"
        = link_to ModelPaint.name.humanize.pluralize, admin_model_paints_path, class: "dropdown-item #{active_nav?('admin-model_paints')}"
        = link_to ModelModule.name.humanize.pluralize, admin_model_modules_path, class: "dropdown-item #{active_nav?('admin-model_modules')}"
        = link_to ModelModulePackage.name.humanize.pluralize, admin_model_module_packages_path, class: "dropdown-item #{active_nav?('admin-model_module_packages')}"
        = link_to ModelUpgrade.name.humanize.pluralize, admin_model_upgrades_path, class: "dropdown-item #{active_nav?('admin-model_upgrades')}"
        = link_to name_diff_admin_models_path, class: "dropdown-item #{active_nav?('admin-models-name-diff')}" do
          = I18n.t(:"nav.models_name_diff")
          %span.badge
            = models_name_diff_count
        = link_to price_diff_admin_models_path, class: "dropdown-item #{active_nav?('admin-models-price-diff')}" do
          = I18n.t(:"nav.models_price_diff")
          %span.badge
            = models_price_diff_count
        .dropdown-divider
        = link_to Manufacturer.name.humanize.pluralize, admin_manufacturers_path, class: "dropdown-item #{active_nav?('admin-manufacturers')}"
        .dropdown-divider
        = link_to Component.name.humanize.pluralize, admin_components_path, class: "dropdown-item #{active_nav?('admin-components')}"

    %li.nav-item.dropdown{class: active_nav?(%w(admin-stations admin-shops admin-trade-hubs admin-commodities admin-planets admin-starsystems admin-shop_commodities-confirmation admin-commodity_prices-confirmation))}
      %a.nav-link.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = Station.name.humanize.pluralize
        %b.caret
        - unless (unconfirmed_commodity_prices + unconfirmed_shop_commodities).zero?
          %span.badge
            = unconfirmed_commodity_prices + unconfirmed_shop_commodities
      .dropdown-menu
        = link_to Station.name.humanize.pluralize, admin_stations_path, class: "dropdown-item #{active_nav?('admin-stations')}"
        = link_to I18n.t(:"nav.celestial_objects"), admin_celestial_objects_path, class: "dropdown-item #{active_nav?('admin-celestial_objects')}"
        = link_to I18n.t(:"nav.starsystems"), admin_starsystems_path, class: "dropdown-item #{active_nav?('admin-starsystems')}"
        .dropdown-divider
        = link_to Shop.name.humanize.pluralize, admin_shops_path, class: "dropdown-item #{active_nav?('admin-shops')}"
        = link_to I18n.t(:"nav.commodities"), admin_commodities_path, class: "dropdown-item #{active_nav?('admin-commodities')}"
        = link_to I18n.t(:"nav.equipment"), admin_equipment_index_path, class: "dropdown-item #{active_nav?('admin-equipment')}"
        .dropdown-divider

        %a.dropdown-item{href: confirmation_admin_shop_commodities_path, class: active_nav?('admin-shop_commodities-confirmation')}
          = I18n.t(:"nav.shop_commodities.confirmation")
          - unless unconfirmed_shop_commodities.zero?
            %span.badge
              = unconfirmed_shop_commodities
        %a.dropdown-item{href: confirmation_admin_commodity_prices_path, class: active_nav?('admin-commodity_prices-confirmation')}
          = I18n.t(:"nav.commodity_prices.confirmation")
          - unless unconfirmed_commodity_prices.zero?
            %span.badge
              = unconfirmed_commodity_prices

    %li.nav-item{class: active_nav?('admin-images')}
      = link_to I18n.t(:"nav.images"), admin_images_path, 'data-turbolinks': "false", class: 'nav-link'
    %li.nav-item{class: active_nav?('admin-users')}
      = link_to I18n.t(:"nav.users"), admin_users_path, class: 'nav-link'
    %li.nav-item{class: active_nav?('admin-vehicles')}
      = link_to Vehicle.name.humanize.pluralize, admin_vehicles_path, class: 'nav-link'
    %li.nav-item{class: active_nav?('admin-admin_users')}
      = link_to I18n.t(:"nav.admin_users"), admin_admin_users_path, class: 'nav-link'
    %li.nav-item
      %a.nav-link{href: admin_sidekiq_web_url, target: "_blank"}
        = I18n.t(:"nav.workers")
