<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <title><%= admin_title %></title>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('admin/favicon.png') %>">
    <meta name="theme-color" content="#333333"/>
    <meta name="application-name" content="<%= I18n.t(:"title.admin") %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-title" content="<%= I18n.t(:"title.admin") %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="FleetYards.net">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="<%= asset_path('admin/manifest.json') %>" />
    <%= favicon_link_tag 'admin/icon-iphone.png', rel: "apple-touch-icon", type: 'image/png' %>
    <%= favicon_link_tag 'admin/icon-ipad.png', rel: "apple-touch-icon", sizes: "76x76", type: 'image/png' %>
    <%= favicon_link_tag 'admin/icon-iphone-retina.png', rel: "apple-touch-icon", sizes: "120x120", type: 'image/png' %>
    <%= favicon_link_tag 'admin/icon-ipad-retina.png', rel: "apple-touch-icon", sizes: "152x152", type: 'image/png' %>
    <%= favicon_link_tag 'admin/icon-ipad-retina.png', rel: "apple-touch-startup-image", type: 'image/png' %>
    <link rel="preconnect" href="<%= ADMIN_API_ENDPOINT %>">
    <%= render "layouts/app_intro" %>
    <%= render "layouts/admin/app_env" %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'admin.scss' %>
    <%= vite_typescript_tag 'admin' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="app">
      <div class="app-intro">
        <h1>
          <%= image_tag 'admin/logo.png', class: 'logo' %>
          <%= I18n.t("title.admin") %>
        </h1>
        <div>
          <div class="loader">
            <div class="cube1 cube"></div>
            <div class="cube2 cube"></div>
            <div class="cube4 cube"></div>
            <div class="cube3 cube"></div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
