<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-full bg-white dark:bg-black">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <title><%= content_for?(:title) ? "#{yield(:title)} | #{I18n.t(:"title.admin")}" : I18n.t(:"title.admin") %></title>

    <link rel="shortcut icon" type="image/png" href="<%= asset_path('admin/favicon.png') %>">

    <meta name="theme-color" content="#333333"/>
    <meta name="application-name" content="<%= I18n.t(:"title.admin") %>">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-title" content="<%= I18n.t(:"title.admin") %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="FleetYards.net">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="manifest" href="<%= admin_manifest_path %>" />

    <%= favicon_link_tag 'admin/icon-iphone.png', rel: "apple-touch-icon", type: 'image/png' %>
    <%= favicon_link_tag 'admin/icon-ipad.png', rel: "apple-touch-icon", sizes: "76x76", type: 'image/png' %>
    <%= favicon_link_tag 'admin/icon-iphone-retina.png', rel: "apple-touch-icon", sizes: "120x120", type: 'image/png' %>
    <%= favicon_link_tag 'admin/icon-ipad-retina.png', rel: "apple-touch-icon", sizes: "152x152", type: 'image/png' %>
    <%= favicon_link_tag 'admin/icon-ipad-retina.png', rel: "apple-touch-startup-image", type: 'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://storage.googleapis.com">
    <link rel="preconnect" href="https://kit-pro.fontawesome.com">

    <script src="https://kit.fontawesome.com/b2f310e2cd.js" crossorigin="anonymous"></script>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900&display=swap" crossorigin>
    <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900&display=swap" crossorigin>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations", skip_pipeline: true %>
    <%= javascript_importmap_tags 'admin' %>
  </head>
  <body data-controller="base" class="h-full text-slate-900 dark:text-slate-300">
    <div class="turbo-progress-bar"></div>
    <div class="background-image"></div>

    <% if admin_user_signed_in? %>
      <%
        collapsed = false
      %>
      <%= render "layouts/admin/navigation", collapsed: collapsed %>

      <div class="flex flex-col flex-1<%= collapsed ? ' md:pl-20' : ' md:pl-72' %>">
        <%= render "layouts/admin/header-new" %>

        <main class="min-h-screen">
          <%= yield %>
        </main>

        <%= render "layouts/admin/footer-new" %>
      </div>
    <% else %>
      <main class="min-h-screen">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
