- content_for :title do
  = I18n.t(:"title.password.new")
.row.justify-content-center
  .col-12.col-sm-6.col-lg-4.col-xlg-3
    .card.mt-5.p-3.text-white.bg-dark
      %h1= I18n.t(:"headlines.forgot_password")

      = form_for(resource, as: resource_name, url: admin_user_password_path, html: { class: "form-horizontal", method: :post}) do |form|

        .form-group{class: form_error?(resource, :email)}
          .col-sm-12
            = form.text_field :email, placeholder: I18n.t(:"helpers.placeholder.user.email"), class: 'form-control'
            = form_errors resource, :email

        .text-right
          %button.btn-xs-block.btn.btn-lg.btn-primary{data: {loading: {text: I18n.t(:"actions.loading")}}}
            = I18n.t(:"actions.reset_password")
