- content_for :title do
  = I18n.t(:"title.password.new")
.row
  .col-xs-12
    .cbox.cbox-login
      .well
        %h1= I18n.t(:"headlines.forgot_password")

        = form_for(resource, as: resource_name, url: admin_user_password_path, html: { class: "form-horizontal", method: :post}) do |form|

          .form-group{class: form_error?(resource, :email)}
            .col-sm-12
              = form.text_field :email, placeholder: I18n.t(:"helpers.placeholder.user.email"), class: 'form-control'
              = form_errors resource, :email

          .text-right

            %button.hidden-xs.btn.btn-lg.btn-primary{data: {loading: {text: I18n.t(:"actions.loading")}}}
              = I18n.t(:"actions.reset_password")
            %button.visible-xs.btn-block.btn.btn-lg.btn-primary{data: {loading: {text: I18n.t(:"actions.loading")}}}
              = I18n.t(:"actions.reset_password")
