- cache user_ship do
  - ship_params = params.dup
  - ship_params.delete(:slug)
  - ship = user_ship.ship
  .col-xs-12.col-sm-6.col-md-4.col-lg-3
    .ship-panel.panel.panel-default.hangar-panel
      .panel-heading
        %h2.panel-title
          %a{href: ship_path(ship.slug, ship_params)}><
            = user_ship.name.present? && user_ship.name || ship.name
          %br
          %small
            - if user_ship.name.present?
              = ship.name
            - else
              = ship.manufacturer.name.html_safe if ship.manufacturer.present?
      - unless ship.production_status.blank?
        .production-status
          %strong.text-uppercase= I18n.t("labels.ship.production_status.#{ship.production_status}")
      .profile-image.text-center
        %a{href: ship_path(ship.slug, ship_params)}><
          = image_tag ship.store_image.small
      - if user_signed_in? && user_ship.user_id == current_user.id
        .btn-group.btn-group-flex
          %a.btn.btn-default.btn-flex{href: edit_my_ship_path(user_ship)}
            = I18n.t(:"actions.edit")
          = confirm_link_to my_ship_path(user_ship), method: :delete, data: {notyConfirm: I18n.t(:"messages.confirm.my_ship.delete")}, class: "btn btn-danger" do
            %i.fa.fa-trash
