- cache [I18n.locale, user_ship, user_ship.ship] do
  - ship_params = params.dup
  - ship_params.delete(:slug)
  - ship = user_ship.ship
  .col-xs-12.col-sm-6.col-md-4.col-lg-3
    .ship-panel.panel.panel-default.hangar-panel.public-hangar-panal
      .panel-heading
        %h2.panel-title
          %a{href: ship_path(ship.slug, ship_params)}><
            = user_ship.name.present? && user_ship.name || ship.name
          %br
          %small
            - if user_ship.name.present?
              = ship.name
            - else
              = ship.manufacturer.name.html_safe if ship.manufacturer.present?
      - unless ship.production_status.blank?
        .production-status
          %strong.text-uppercase= I18n.t("labels.ship.production_status.#{ship.production_status}")
      .profile-image.text-center
        %a{href: ship_path(ship.slug, ship_params)}><
          = image_tag ship.store_image.small
          - if ship.on_sale?
            .on-sale{title: I18n.t("labels.ship.on_sale", price: ship.price)}
              %i.fa.fa-dollar
