- content_for :title do
  = I18n.t(:"title.hangar.public", user: user.username.capitalize)
.row#hangar
  .col-xs-12.col-md-12

    .row
      .col-xs-12
        %h1
          = I18n.t(:"headlines.hangar.public", user: user.username.capitalize)

    .row
      .col-xs-12
        .pull-right
          = paginate purchased_user_ships

    .row.is-flex
      = render partial: "hangars/show_public", collection: purchased_user_ships, as: :user_ship

    .row
      .col-xs-12
        .pull-right
          = paginate purchased_user_ships
