- content_for :title do
  = I18n.t(:"title.hangar.show")
.row#hangar
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-sm-8
        %h1
          = I18n.t(:"headlines.hangar.show")
      .col-xs-12.col-sm-4
        .btn-group.pull-right.resource-nav
          %a.btn.btn-default{href: public_hangar_path(current_user.username)}
            = I18n.t(:"actions.hangar.public")

    .row
      .col-xs-12
        .well.well-sm
          %strong= "#{I18n.t("labels.hangar.roles")}:"
          = ship_roles.join(" | ")


    = render "hangars/list"
