- translateable ||= false
.btn-group.dropdown.filter-menu
  - unless params.fetch(name, nil).blank?
    - reset_params = params.dup
    - reset_params.delete(name)
    %a.btn.btn-info{href: url_for(reset_params.permit!)}
      &times;
  %a.btn.btn-default.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
    = "#{I18n.t(:"filter.#{resource}.#{name}.title")}:"
    - current_value = I18n.t(:"filter.all")
    - if value = params.fetch(name, nil)
      - filters.each do |filter|
        - if filter.is_a?(Hash)
          - filter = OpenStruct.new filter
        - if filter.slug.to_s == value
          - if translateable
            - current_value = I18n.t(:"filter.#{resource}.#{name}.#{filter.slug}", default: (filter.name || "").html_safe)
          - else
            - current_value = (filter.name || "").html_safe
    = current_value
    %span.caret
  %ul.dropdown-menu{role: 'menu'}
    - filters.each do |filter|
      - if filter.is_a?(Hash)
        - filter = OpenStruct.new filter
      %li{class: ("active" if params.fetch(name, nil) == filter.slug)}
        - link = filter.link if defined?(filter.link)
        - if translateable
          - link ||= I18n.t(:"filter.#{resource}.#{name}.#{filter.slug}", default: (filter.name || "").html_safe)
        - else
          - link ||= filter.name.html_safe
        = link_to link, plumb(name.to_s => filter.slug)
