<%-
  active ||= false
  collapsed ||= false
  activeIndicator = [
    %{
      absolute left-0 top-0 bottom-0 w-1 rounded-r-md transition-all duration-300 ease-in
    },
    (active ? 'bg-brand-primary' : 'group-hover:bg-brand-primary')
  ].compact.join(' ')
  buttonClasses = [
    %{
      flex py-3 rounded-md w-full items-center text-lg font-normal focus:outline-none focus:ring-2
      focus:ring-brand-primary/50 hover:text-neutral-400 transition-colors duration-300 ease-in
    },
    (active ? 'text-neutral-400' : 'text-neutral-300'),
    (collapsed ? 'justify-center px-3' : 'text-left pl-4 pr-2')
  ].compact.join(' ')
  arrowClasses = [
    %{
      text-gray-300 ml-3 flex-shrink-0 h-5 w-5 transform group-hover:text-gray-400 transition-all
      duration-300 ease-in fa fa-chevron-right
    },
    ('rotate-90' if active)
  ].compact.join(' ')
-%>
<div class="relative group px-2">
  <div class="<%= activeIndicator %>"></div>
  <%- if (block = yield).present? && defined?(submenu) -%>
    <div
      data-controller="submenu"
      data-submenu-active-value="<%= !!active %>"
    >
      <button
        data-action="click->submenu#toggle"
        type="button"
        class="w-full text-left  <%= buttonClasses %>"
        aria-controls="submenu-<%= submenu %>"
        aria-expanded="false"
        data-base-target="navItem"
      >
        <span class="flex-shrink-0 h-6 w-6 <%= collapsed ? '' : ' mr-3' %>" data-base-target="navItemIcon">
          <i class="<%= icon %>"></i>
        </span>
        <%- unless collapsed -%>
          <span class="flex-1" data-base-target="navItemLabel">
            <%= name -%>
          </span>
          <i
            data-submenu-target="arrow"
            class="<%= arrowClasses %>"
            data-base-target="navItemLabel"
          ></i>
        <%- end -%>
      </button>
      <div
        class="space-y-3 transition-all duration-300 overflow-hidden<%= defined?(devide) ? ' devide-y' : '' %>"
        style="<%= active ? '' : 'height: 0px;' %>"
        id="submenu-<%= submenu %>"
        data-submenu-target="submenu"
      >
        <%= block -%>
      </div>
    </div>
  <%- else -%>
    <a
      href="<%= defined?(href) ? href : nil %>"
      class="<%= buttonClasses %>"
      target="<%= defined?(external) ? '_blank' : nil %>"
      data-base-target="navItem"
    >
      <span class="flex-shrink-0 h-6 w-6 <%= collapsed ? '' : ' mr-3' %>" data-base-target="navItemIcon">
        <i class="<%= icon %>"></i>
      </span>
      <%- unless collapsed -%>
        <span data-base-target="navItemLabel">
          <%= name -%>
        </span>
      <%- end -%>
    </a>
  <%- end -%>
</div>