- content_for :title do
  = Vehicle.name.humanize
.row#vehicles
  .col-12

    .row
      .col-12
        %h1
          = Vehicle.name.humanize

          %small.text-muted
            = @vehicles.count
            of
            = @vehicles.total_count

    .row
      .col-12.d-flex.justify-content-center
        = paginate @vehicles

    .row.mb-3
      .col-12.col-md-9
        .panel.panel-default
          = render partial: "admin/vehicles/table", :@vehicles => @vehicles

      .col-12.col-md-3
        = search_form_for [:admin, @q] do |f|
          .form-group
            = f.label :name_cont
            = f.search_field :name_cont, class: 'form-control'

          .btn-group
            %button.btn.btn-primary
              Filter
            - if params[:q].present?
              %a.btn.btn-dark{href: request.path, title: "Clear Search"}
                %i.fa.fa-times
    .row
      .col-12.d-flex.justify-content-center
        = paginate @vehicles
