
<% content_for :title do %>
  <%= I18n.t(:"title.station.images") %>
<% end %>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-8">
        <h2>
          <%= I18n.t(:"headlines.admin.station.images", station: station.name) %>
        </h2>
      </div>
      <div class="col-12 col-md-4">
        <div class="d-flex justify-content-end">
          <div class="btn-group">
            <%= link_to I18n.t(:"actions.back"), admin_stations_path(params: index_back_params, anchor: station.id), class: "btn btn-dark" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.API_ENDPOINT = '<%= Rails.application.secrets[:admin_api_endpoint] %>'
  window.AUTH_TOKEN = '<%= jwt_token %>'
  window.ON_SUBDOMAIN = '<%= ENV['ON_SUBDOMAIN']  %>'
</script>
<%= javascript_packs_with_chunks_tag 'admin' %>
