%img.hide{src: image_path('blueimp-file-upload/img/loading.gif'), alt: "loading"}
.row
  .col-xs-12.col-md-8
    %h2
      = I18n.t(:"headlines.backend.ship.gallery", ship: ship.name)
  .col-xs-12.col-md-4
    .btn-group.pull-right.resource-nav
      %a.btn.btn-default{href: backend_ships_path}
        = I18n.t(:"actions.back")

%form#fileupload{action: backend_images_path, method: "POST", enctype: "multipart/form-data", data: {upload_path: backend_images_path}}
  %input{type: "hidden", name: "image[gallery_id]", value: ship.id}
  %input{type: "hidden", name: "image[gallery_type]", value: "Ship"}
  = render "backend/shared/uploader/buttons"

  #dropzone.fade.well
    Drop files here

  %table.table.table-striped{role: "presentation"}
    %tbody.files

%script#template-upload{type: "text/x-tmpl"}
  = render "backend/shared/uploader/upload_template"

%script#template-download{type: "text/x-tmpl"}
  = render "backend/shared/uploader/download_template"
