- content_for :title do
  = I18n.t(:"title.ship.index")
.row#ships
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.backend.ship.index")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"actions.backend.ship.new"), new_backend_ship_path, class: "btn btn-default"

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        = paginate @ships

    .panel.panel-default
      = render partial: "backend/ships/table", :@ships => @ships

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        = paginate @ships
