= form_for [:admin, model_module], html: { multipart: true } do |form|
  .row
    .col-xs-12.col-md-6.form-group{class: form_error?(model_module, :name)}
      = form.label :name
      = form.text_field :name, class: 'form-control'
      %small
        = form_errors model_module, :name
    .col-xs-12.col-md-6.form-group{class: form_error?(model_module, :description)}
      = form.label :description
      = form.text_area :description, class: 'form-control'
      %small
        = form_errors model_module, :description


  .row
    .col-xs-12.col-sm-6.col-md-4.form-group{class: form_error?(model_module, :model_id)}
      = form.label :model_id
      = form.select :model_id, options_from_collection_for_select(Model.all.order(:name), :id, :name, model_module.model_id), { include_blank: true }, { class: 'form-control' }
      %small
        = form_errors model_module, :model_id

    .col-xs-12.col-sm-6.col-md-4.form-group{class: form_error?(model_module, :manufacturer_id)}
      = form.label :manufacturer_id
      = form.select :manufacturer_id, options_from_collection_for_select(Manufacturer.all.order(:name), :id, :name_clean, model_module.manufacturer_id), { include_blank: true }, { class: 'form-control' }
      %small
        = form_errors model_module, :manufacturer_id

    .col-xs-12.col-sm-6.col-md-4.form-group{class: form_error?(model_module, :production_status)}
      = form.label :production_status
      = form.select :production_status, options_from_collection_for_select(Model.production_status_filters, :value, :name, model_module.production_status), { include_blank: true }, { class: 'form-control' }
      %small
        = form_errors model_module, :production_status

  .row
    .col-xs-12.col-sm-6.col-md-4.form-group
      .checkbox
        = form.check_box :hidden, placeholder: I18n.t(:"helpers.placeholder.model.hidden")
        = form.label :hidden do
          = I18n.t(:"activerecord.attributes.model.hidden")

    .col-xs-12.col-sm-6.col-md-4.form-group
      .checkbox
        = form.check_box :active, placeholder: I18n.t(:"helpers.placeholder.model.active")
        = form.label :active do
          = I18n.t(:"activerecord.attributes.model.active")

    .col-xs-12.col-md-4.form-group{class: form_error?(model_module, :store_image)}
      = form.label :store_image
      = form.file_field :store_image, class: 'form-control'
      = form.hidden_field :store_image_cache
      %br
      - if model_module.store_image?
        = image_tag(model_module.store_image.url)
        = form.check_box :remove_store_image
        Remove Image
      %small
        = form_errors model_module, :store_image

  = render "shared/submit", path: admin_model_modules_path
