<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
      <title><%= title %></title>

    <meta content="<%= description %>" name="description">
    <meta content="<%= keywords %>" name="keywords">
    <link rel="stylesheet" type="text/css" href="/swagger-ui/swagger-ui.css" >
    <link rel="stylesheet" type="text/css" href="/swagger-ui/index.css" >
    <link rel="stylesheet" type="text/css" href="/swagger-ui/swagger-ui-dark.css" >

    <meta name="theme-color" content="#333333"/>
    <meta name="application-name" content="FleetYards.net">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-title" content="FleetYards.net">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="FleetYards.net">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="manifest" href="<%= asset_path('manifest.json') %>" />

    <%= favicon_link_tag 'icon-iphone.png', rel: "apple-touch-icon", type: 'image/png' %>
    <%= favicon_link_tag 'icon-ipad.png', rel: "apple-touch-icon", sizes: "76x76", type: 'image/png' %>
    <%= favicon_link_tag 'icon-iphone-retina.png', rel: "apple-touch-icon", sizes: "120x120", type: 'image/png' %>
    <%= favicon_link_tag 'icon-ipad-retina.png', rel: "apple-touch-icon", sizes: "152x152", type: 'image/png' %>
    <%= favicon_link_tag 'icon-ipad-retina.png', rel: "apple-touch-startup-image", type: 'image/png' %>
  </head>

  <body>
    <div id="swagger-ui"></div>
    <script src="/swagger-ui/swagger-ui-bundle.js" charset="UTF-8"> </script>
    <script src="/swagger-ui/swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
    <script>
      window.onload = function () {
        var configObject = JSON.parse('<%= @config.to_json.html_safe %>');

        // Apply mandatory parameters
        configObject.dom_id = "#swagger-ui";
        configObject.deepLinking = true;
        configObject.presets = [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset];
        configObject.plugins = [SwaggerUIBundle.plugins.DownloadUrl];
        configObject.layout = "StandaloneLayout";

        // Build a system
        SwaggerUIBundle(configObject);
      }
    </script>
  </body>
</html>

