- content_for :title do
  = weapon.name
.row#ship-profile
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = weapon.name
          %small
            = I18n.t(:"activerecord.attributes.weapon.classes.#{weapon.hp_class}")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          - back_params = params.dup
          - back_params.delete(:id)
          %a.btn.btn-default{href: weapons_path(back_params)}
            = I18n.t(:"actions.back")

    .row
      .col-xs-12.col-md-8
        %p
          = weapon.description

    .row#comments
      .col-xs-12.col-md-12
        %h3
          = I18n.t(:"headlines.comments")
        = render "shared/disqus", title: weapon.name, url: weapon_url(weapon), category_id: 2849266
