- content_for :title do
  = I18n.t(:"title.password.edit")
.row
  .col-xs-12.col-md-12

    .row
      .col-xs-12
        %h1
          = I18n.t(:"headlines.change_password")

    .row
      .col-xs-12
        %ul.nav.nav-tabs
          %li
            %a{href: edit_user_registration_path(anchor: :basic)}
              = I18n.t("nav.user.basic")
              %i.fa.fa-user.fa-fw
          %li.active
            %a{href: "#password", data: {toggle: "tab"}}
              = I18n.t("nav.user.password")
              %i.fa.fa-lock.fa-fw
          %li
            %a{href: edit_user_registration_path(anchor: :rsi)}
              = I18n.t("nav.user.rsi")
              %i.fa.fa-cog.fa-fw

        = form_for user, url: password_path do |form|
          %input{name: "anchor", value: "password", type: :hidden}
          .tab-content
            .tab-pane.active#password
              .row
                .col-xs-12.col-sm-3.col-md-1
                  %img.gravatar.gravatar-lg{src: gravatar_path(100), alt: "avatar"}
                .col-xs-12.col-sm-9.col-md-11
                  .row
                    .col-xs-12.col-md-4.form-group{class: form_error?(user, :current_password)}
                      = form.label :current_password
                      = form.password_field :current_password, autocomplete: "off", class: 'form-control'
                      %small
                        = form_errors user, :current_password

                  .row
                    .col-xs-12.col-md-4.form-group{class: form_error?(user, :password)}
                      = form.label :password
                      = form.password_field :password, autocomplete: "off", class: 'form-control'
                      %small
                        = form_errors user, :password

                  .row
                    .col-xs-12.col-md-4.form-group{class: form_error?(user, :password_confirmation)}
                      = form.label :password_confirmation
                      = form.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
                      %small
                        = form_errors user, :password_confirmation

            = render "shared/submit", path: root_path
