- content_for :title do
  = I18n.t(:"title.password.edit")
.row
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h2
          = I18n.t(:"headlines.change_password")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"actions.back"), edit_user_registration_path, class: "btn btn-default"

    = form_for user, url: password_path do |form|
      .row
        .col-xs-12.col-md-6.form-group{class: form_error?(user, :current_password)}
          = form.password_field :current_password, autocomplete: "off", placeholder: I18n.t(:"helpers.placeholder.user.current_password"), class: 'form-control'
          %small
            = form_errors user, :current_password

      .row
        .col-xs-12.col-md-6.form-group{class: form_error?(user, :password)}
          = form.password_field :password, autocomplete: "off", placeholder: I18n.t(:"helpers.placeholder.user.password"), class: 'form-control'
          %small
            = form_errors user, :password

      .row
        .col-xs-12.col-md-6.form-group{class: form_error?(user, :password_confirmation)}
          = form.password_field :password_confirmation, autocomplete: "off", placeholder: I18n.t(:"helpers.placeholder.user.password_confirmation"), class: 'form-control'
          %small
            = form_errors user, :password_confirmation

      = render "shared/submit", path: edit_user_registration_path
