- content_for :title do
  = I18n.t(:"title.sign_in")
.row
  .col-xs-12
    .cbox.cbox-login
      .well
        %h1=I18n.t(:"headlines.sign_in")

        = form_for resource, as: resource_name, url: session_path(resource_name) do |f|

          .form-group
            = f.text_field :login, required: false, autofocus: true, placeholder: I18n.t(:"helpers.placeholder.user.login"), class: 'form-control'

          .form-group
            = f.password_field :password, required: false, placeholder: I18n.t(:"helpers.placeholder.user.password"), class: 'form-control'

          - if devise_mapping.rememberable?
            .checkbox
              = f.check_box :remember_me
              %label{for: "user_remember_me"}
                = I18n.t(:"helpers.label.user.remember_me")
          .text-right
            %button.hidden-xs.btn.btn-lg.btn-primary{data: {loading: {text: I18n.t(:"actions.loading")}}}
              = I18n.t(:"actions.sign_in")
            %button.visible-xs.btn-block.btn.btn-lg.btn-primary{data: {loading: {text: I18n.t(:"actions.loading")}}}
              = I18n.t(:"actions.sign_in")
          .clearfix
      %br
      .text-center
        %a.btn.btn-lg.btn-social-icon.btn-facebook{href: user_omniauth_authorize_path(:facebook)}
          %i.fa.fa-facebook
        %a.btn.btn-lg.btn-social-icon.btn-google{href: user_omniauth_authorize_path(:google_oauth2)}
          %i.fa.fa-google
        %a.btn.btn-lg.btn-social-icon.btn-twitter{href: user_omniauth_authorize_path(:twitter)}
          %i.fa.fa-twitter
        %a.btn.btn-lg.btn-social-icon.btn-github{href: user_omniauth_authorize_path(:github)}
          %i.fa.fa-github
        %br
        %a.btn.btn-link{href: new_password_path(resource_name)}
          = I18n.t(:"actions.reset_password")
