%ul.list-group
  - if ship.ship_role.present?
    %li.list-group-item.ship-roles{data: {toggle: "tooltip"}, title: (ship.ship_role.name if ship.ship_role.present?)}
      %strong
        = "#{I18n.t(:"helpers.placeholder.ship.role")}:"
      = ship.ship_role.name
  %li.list-group-item.metrics
    .col-xs-6.col-sm-6.col-md-6
      - if ship.length.present?
        %strong
          = "#{I18n.t(:"helpers.placeholder.ship.length")}:"
        %div.no-wrap
          = number_to_human ship.length.to_d, units: :distance, precision: 6
      - if ship.beam.present?
        %strong
          = "#{I18n.t(:"helpers.placeholder.ship.beam")}:"
        %div.no-wrap
          = number_to_human ship.beam, units: :distance, precision: 6
    .col-xs-6.col-sm-6.col-md-6
      - if ship.height.present?
        %strong
          = "#{I18n.t(:"helpers.placeholder.ship.height")}:"
        %div.no-wrap
          = number_to_human ship.height, units: :distance, precision: 6
      - if ship.mass.present?
        %strong
          = "#{I18n.t(:"helpers.placeholder.ship.mass")}:"
        %div.no-wrap
          = number_to_human ship.mass, units: :weight, precision: 6
    .clearfix
  - if ship.cargo.present?
    %li.list-group-item
      %strong
        = "#{I18n.t(:"helpers.placeholder.ship.cargo")}:"
      = number_to_human ship.cargo, units: :weight, precision: 6
  - if ship.crew.present?
    %li.list-group-item
      %strong
        = "#{I18n.t(:"helpers.placeholder.ship.crew")}:"
      = number_to_human ship.crew, units: :people, precision: 6
