- content_for :title do
  = "#{I18n.t(:"headlines.ship.gallery", ship: ship.name)} - #{ship.manufacturer.name.html_safe}"
.row#ship-gallery
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.ship.gallery", ship: ship.name)
      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          %a.btn.btn-default{href: ship_path(ship.slug, params)}
            = I18n.t(:"actions.back")
    .row
      .col-xs-12.col-md-12
        .pull-right
          = paginate @images

    .row.is-flex
      - @images.each do |image|
        - cache image do
          .col-md-3.col-sm-6.col-xs-12
            %a.thumbnail{href: image.name, title: image.name.file.filename, data: {gallery: true}}
              %img.img-responsive{src: image.name.small, alt: image.name.file.filename}
      - if @images.blank?
        .col-md-12
          .well.text-center
            = I18n.t(:"labels.gallery.blank.ship", ship: ship.name)
    .row
      .col-xs-12.col-md-12
        .pull-right
          = paginate @images
= render "shared/gallery_modal"
