- content_for :title do
  = I18n.t(:"title.ship.index")
.row#ships
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h2
          = I18n.t(:"headlines.ship.index")

      .col-xs-12.col-md-4
        = render "search"

    .row
      .col-xs-12.col-md-6
        = render "shared/filter", resource: "ship", name: "ship_role", filters: ShipRole.all, translateable: true
        = render "shared/filter", resource: "ship", name: "manufacturer", filters: Manufacturer.all
      .col-xs-12.col-md-6
        .pull-right
          = paginate @ships

    .row
      = render partial: "ships/show", collection: @ships, as: :ship
      - if @ships.blank?
        .col-md-12
          .well.text-center
            = I18n.t(:"labels.table.blank.ship")
    .row
      .col-xs-12.col-md-12
        .pull-right
          = paginate @ships
