- content_for :title do
  = I18n.t(:"title.ship.index")
.row#ships
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-6
        %h1
          = I18n.t(:"headlines.ship.index")

      .col-xs-12.col-md-6
        = render "search"

    .row
      .col-xs-12.col-md-6
        = render "shared/filter", resource: "ship", name: "ship_role", filters: ShipRole.all, translateable: true
        = render "shared/filter", resource: "ship", name: "manufacturer", filters: Manufacturer.all
        = render "shared/filter", resource: "ship", name: "production_status", filters: @available_production_status
      .col-xs-12.col-md-6
        .pull-right
          = paginate @ships

    .row.is-flex
      = render partial: "ships/show", collection: @ships, as: :ship
      - if @ships.blank?
        .col-md-12
          .well.text-center
            - if @ships.out_of_range? && @ships.total_pages > 1
              = I18n.t(:"labels.table.out_of_range.ship", url: ships_path(params.merge({page: 1}))).html_safe
            - else
              = I18n.t(:"labels.table.blank.ship")
    .row
      .col-xs-12.col-md-12
        .pull-right
          = paginate @ships
