- content_for :title do
  = "#{ship.name} - #{ship.manufacturer.name.html_safe}"
.row#ship-profile
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = ship.name

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          - unless ship.images.enabled.blank?
            - gallery_params = params.dup
            - gallery_params.delete(:page)
            %a.btn.btn-primary{href: gallery_ship_path(ship.slug, gallery_params)}
              = I18n.t(:"actions.ship.gallery")
          - back_params = params.dup
          - back_params.delete(:slug)
          %a.btn.btn-default{href: ships_path(back_params)}
            = I18n.t(:"actions.back")

    .row
      .col-xs-12.col-md-8
        %p
          %a.thumbnail.ship-image{href: (gallery_ship_path(ship.slug, gallery_params) if ship.images.present?)}
            = image_tag ship.image
          = ship.description
      .col-xs-12.col-md-4
        .panel.panel-default
          %table.table.table-striped
            %tbody
              %tr
                %td
                  %strong
                    = I18n.t(:"activerecord.attributes.ship.manufacturer")
                %td
                  = ship.manufacturer.name.html_safe
              - %w(length beam height mass cargo crew production_status).each do |value|
                %tr
                  %td
                    %strong
                      = I18n.t(:"activerecord.attributes.ship.#{value}")
                  %td
                    - if %w(length beam height).include?(value)
                      = number_to_human ship.send(value), units: :distance, precision: 6
                    - elsif %w(mass cargo).include?(value)
                      = number_to_human ship.send(value), units: :weight, precision: 6
                    - elsif %w(crew).include?(value)
                      = number_to_human ship.send(value), units: :people, precision: 6
                    - else
                      = ship.send(value)
        %a.btn.btn-primary.pull-right{target: "_blank", href: store_url(ship.store_url)}
          = I18n.t("actions.store")

    - categories = ComponentCategory.all
    .row
      .col-xs-12.col-md-12
        %ul.nav.nav-tabs
          = render partial: "ships/tabs_nav", collection: categories, as: :category
    .tab-content
      = render partial: "ships/tabs", collection: categories, as: :category

    %br
    .row#comments
      .col-xs-12.col-md-12
        %h3
          = I18n.t(:"headlines.comments")
        = render "shared/disqus", title: ship.name, url: ship_url(ship.slug), category_id: 2846386
