- content_for :title do
  = "#{ship.name} - #{ship.manufacturer.name}"
.row#ship-profile
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = ship.name

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          - unless ship.images.blank?
            - gallery_params = params.dup
            - gallery_params.delete(:page)
            %a.btn.btn-primary{href: gallery_ship_path(ship.slug, gallery_params)}
              = I18n.t(:"actions.ship.gallery")
          - back_params = params.dup
          - back_params.delete(:slug)
          %a.btn.btn-default{href: ships_path(back_params)}
            = I18n.t(:"actions.back")

    .row
      .col-xs-12.col-md-8
        %p
          %a.thumbnail.ship-image{href: (gallery_ship_path(ship.slug, gallery_params) if ship.images.present?)}
            = image_tag ship.image
          = ship.description
      .col-xs-12.col-md-4
        .panel.panel-default
          %table.table.table-striped
            %tbody
              %tr
                %td
                  %strong
                    = I18n.t(:"activerecord.attributes.ship.manufacturer")
                %td
                  = ship.manufacturer.name
              - %w(length beam height mass cargo crew).each do |value|
                %tr
                  %td
                    %strong
                      = I18n.t(:"activerecord.attributes.ship.#{value}")
                  %td
                    - if %w(length beam height).include?(value)
                      = number_to_human ship.send(value), units: :distance
                    - elsif %w(mass cargo).include?(value)
                      = number_to_human ship.send(value), units: :weight
                    - elsif %w(crew).include?(value)
                      = number_to_human ship.send(value), units: :people
                    - else
                      = ship.send(value)
              %tr
                %td
                  %strong
                    = I18n.t(:"activerecord.attributes.ship.max_upgrades")
                %td
                  = ship.max_upgrades

    .row
      .col-xs-12.col-md-12
        %ul.nav.nav-tabs
          %li.active
            %a{href: "#max-equipment", data: {toggle: "tab"}}
              = I18n.t(:"labels.tabs.ship.hardpoints")
          %li
            %a{href: "#factory-equipment", data: {toggle: "tab"}}
              = I18n.t(:"labels.tabs.ship.default_configuration")
    .tab-content
      .row.tab-pane.active#max-equipment
        .col-xs-12.col-md-6
          %h3
            = I18n.t(:"activerecord.attributes.ship.weapons")
          .panel.panel-default
            %table.table.table-striped
              %tbody
                - Weapon::VALID_CLASSES.each do |hp_class|
                  - if count = ship.send("max_#{hp_class}")
                    %tr
                      %td
                        %strong
                          = I18n.t(:"activerecord.attributes.weapon.classes.#{hp_class}")
                      %td
                        = "#{count}x"
        .col-xs-12.col-md-6
          %h3
            = I18n.t(:"activerecord.attributes.ship.equipment")
          .panel.panel-default
            %table.table.table-striped
              %tbody
                - Equipment::VALID_LIMITED_TYPES.each do |type|
                  - if count = ship.send("max_#{type}")
                    %tr
                      %td
                        %strong
                          = I18n.t(:"activerecord.attributes.equipment.types.#{type}")
                      %td
                        - if equipment_type = ship.send("max_#{type}_type")
                          = "#{count}x"
                          = ship.send("max_#{type}_type")
                        - else
                          = count
      .row.tab-pane#factory-equipment
        .col-xs-12.col-md-6
          %h3
            = I18n.t(:"activerecord.attributes.ship.weapons")
          .row
            - ship.weapons.each do |weapon|
              .col-xs-12.col-sm-6.col-md-6
                = render "weapons/show", weapon: weapon
            - if ship.weapons.blank?
              .col-xs-12.col-sm-12.col-md-12
                .list-group
                  .list-group-item
                    = I18n.t(:"labels.blank.weapon")

        .col-xs-12.col-md-6
          %h3
            = I18n.t(:"activerecord.attributes.ship.equipment")
          .row
            - ship.equipment.each do |equipment|
              .col-xs-12.col-sm-6.col-md-6
                = render "equipments/show", equipment: equipment
            - if ship.equipment.blank?
              .col-xs-12.col-sm-12.col-md-12
                .list-group
                  .list-group-item
                    = I18n.t(:"labels.blank.equipment")

    %br
    - if ship.variants.present?
      .row#variants
        .col-xs-12.col-md-12
          %h3
            = I18n.t(:"activerecord.attributes.ship.variants")
        = render partial: "ships/show", collection: ship.variants, as: :ship
    .row#comments
      .col-xs-12.col-md-12
        %h3
          = I18n.t(:"headlines.comments")
        = render "shared/disqus", title: ship.name, url: ship_url(ship.slug), category_id: 2846386
