.row#ship-profile
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h2
          = ship.name

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          %a.btn.btn-default{href: ships_path}
            = I18n.t(:"actions.back")

    .row
      .col-xs-12.col-md-6
        .text-center
          = image_tag ship.image, class: "thumbnail ship-image"
        .text-center
          = image_tag ship.manufacturer.logo, class: "manufacturer-logo"
        %br
      .col-xs-12.col-md-6
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th
                Beschreibung
              %th
                Wert
          %tbody
            - %w(length beam height).each do |value|
              %tr
                %td
                  = value
                %td
                  = ship.send(value)
