- content_for :title do
  = "#{ship.name} - #{ship.manufacturer.name}"
.row#ship-profile
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h2
          = ship.name

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          %a.btn.btn-default{href: ships_path}
            = I18n.t(:"actions.back")

    .row
      .col-xs-12.col-md-6
        .text-center
          = image_tag ship.image, class: "thumbnail ship-image"
        .text-center
          = image_tag ship.manufacturer.logo, class: "manufacturer-logo"
        %br
      .col-xs-12.col-md-6
        .row
          .col-xs-12.col-md-12
            %p
              = ship.description
        .row
          .col-xs-12.col-md-12
            %table.table.table-striped.table-bordered
              %tbody
                - %w(length beam height mass cargo crew).each do |value|
                  %tr
                    %td
                      = I18n.t(:"activerecord.attributes.ship.#{value}")
                    %td
                      - if %w(length beam height).include?(value)
                        = number_to_human ship.send(value), units: :distance
                      - elsif %w(mass cargo).include?(value)
                        = number_to_human ship.send(value), units: :weight
                      - else
                        = ship.send(value)
