.panel.panel-default
  .panel-heading
    %h2.panel-title
      = I18n.t(:"labels.panels.latest_users")
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t(:"labels.table.user.email")
          %th= I18n.t(:"labels.table.user.username")
          %th= I18n.t(:"labels.table.user.last_sign_in_at")
          %th= I18n.t(:"labels.table.user.created_at")
          %th.actions.actions-one
      %tbody
        - User.unscoped.order(created_at: :desc).limit(10).each do |user|
          %tr
            %td
              = user.email
            %td
              = user.username
            %td
              - if user.current_sign_in_at.present?
                = time_ago_in_words(user.current_sign_in_at)
            %td
              = time_ago_in_words(user.created_at)
              %br
              = "(#{l(user.created_at, format: :short)})"
            %td
              .btn-group
                = link_to edit_admin_user_path(user), title: I18n.t(:"actions.edit"), class: "btn btn-default" do
                  %i.fa.fa-edit
