.panel-wrapper.panel-outer-spacing
  .panel
    .panel-inner
      .panel-heading
        %h2.panel-title
          = I18n.t(:"labels.panels.latest_components")
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th= I18n.t(:"labels.table.name")
              %th= I18n.t(:"labels.table.updated_at")
              %th.actions.actions-one
          %tbody
            - @latest_components.each do |component|
              %tr
                %td
                  = component.name
                %td
                  = I18n.l(component.updated_at, format: :short)
                %td
                  .btn-group
                    = link_to edit_admin_component_path(component), title: I18n.t(:"actions.edit"), class: "btn btn-default" do
                      %i.fa.fa-edit
      .panel-footer.text-right
        = link_to admin_components_path do
          = I18n.t('actions.more')
          %i.fa.fa-angle-right
