<div class="panel-wrapper panel-outer-spacing">
  <div class="panel">
    <div class="panel-inner">
      <div class="panel-heading">
        <h2 class="panel-title"><%= I18n.t(:"labels.panels.latest_models") -%></h2>
      </div>

      <div class="table-responsive" style="height: 427px;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= I18n.t(:"labels.table.name") -%></th>
              <th><%= I18n.t(:"labels.table.model.manufacturer") -%></th>
              <th><%= I18n.t(:"labels.table.updated_at") -%></th>
              <th class="actions actions-one"></th>
            </tr>
          </thead>
          <tbody>
            <%- @latest_models.each do |model| -%>
              <tr>
                <td><%= model.name -%></td>
                <td><%= model.manufacturer.name&.html_safe if model.manufacturer.present? -%></td>
                <td></td>
                <td>
                  <div class="btn-group">
                    <%= link_to edit_admin_model_path(model), title: I18n.t(:"actions.edit"), class: "btn btn-dark" do -%>
                      <i class="fa fa-edit"></i>
                    <%- end -%>
                  </div>
                </td>
                <td></td>
              </tr>
            <%- end -%>
          </tbody>
        </table>
      </div>

      <div class="panel-footer text-right">
        <%= link_to admin_models_path do -%>
          <%= I18n.t('actions.more') %>
          <i class="fa fa-angle-right"></i>
        <%- end -%>
      </div>
    </div>
  </div>
</div>
