<div class="xl:-mx-2 h-full">
  <dl
    data-controller="quickstats"
    data-quickstats-url-value="<%= quick_stats_admin_api_v1_stats_url %>"
    class="flex flex-wrap h-full content-between"
  >
    <%= render(
      'shared/metrics',
      icon: 'fad fa-user',
      name: I18n.t('labels.panels.online_count'),
      classes: 'mb-4 xl:mb-0 xl:w-6/12 xl:px-2'
    ) do -%>
      <span data-quickstats-target="onlineCount">
        <%= online_count -%>
      </span>
    <%- end -%>
    <%= render(
      'shared/metrics',
      icon: 'fad fa-users',
      name: I18n.t('labels.panels.users_count_total'),
      classes: 'mb-4 xl:mb-0 xl:w-6/12 xl:px-2'
    ) do -%>
      <span data-quickstats-target="usersCountTotal">
        <%= User.count -%>
      </span>
    <%- end -%>
    <%= render(
      'shared/metrics',
      icon: 'fad fa-rocket-launch',
      name: I18n.t('labels.panels.ships_count_year', year: Time.zone.now.year),
      classes: 'mb-4 xl:mb-0 xl:w-6/12 xl:px-2'
    ) do -%>
      <span data-quickstats-target="shipsCountYear">
        <%= Model.year(Time.current.year).count -%>
      </span>
    <%- end -%>
    <%= render(
      'shared/metrics',
      icon: 'fad fa-starship',
      name: I18n.t('labels.panels.ships_count_total'),
      classes: 'mb-4 xl:mb-0 xl:w-6/12 xl:px-2'
    ) do -%>
      <span data-quickstats-target="shipsCountTotal">
        <%= Model.count -%>
      </span>
    <%- end -%>
    <%= render(
      'shared/metrics',
      icon: 'fad fa-users-crown',
      name: I18n.t('labels.panels.fleets_count_total'),
      classes: 'mb-4 xl:mb-0 xl:w-6/12 xl:px-2'
    ) do -%>
      <span data-quickstats-target="fleetsCountTotal">
        <%= Fleet.count -%>
      </span>
    <%- end -%>
  </dl>
</div>