.row{data: {
    controller: 'quickstats',
    'quickstats-url-value': quick_stats_admin_api_v1_stats_url
  }
}
  .col-12.col-md-6
    .panel-wrapper.panel-outer-spacing
      .panel.panel-primary
        .panel-inner
          .panel-heading
            .row
              .col-3.d-flex.align-items-center
                %i.fad.fa-user.fa-4x
              .col-9.text-right
                .text-huge#online-count{data: { 'quickstats-target': 'onlineCount' }}
                  = online_count
                %div
                  = I18n.t('labels.panels.online_count')

  .col-12.col-md-6
    .panel-wrapper.panel-outer-spacing
      .panel.panel-primary
        .panel-inner
          .panel-heading
            .row
              .col-3.d-flex.align-items-center
                %i.fad.fa-users.fa-4x
              .col-9.text-right
                .text-huge#users-count-total{data: { 'quickstats-target': 'usersCountTotal' }}
                  = User.count
                %div
                  = I18n.t('labels.panels.users_count_total')

  .col-12.col-md-6
    .panel-wrapper.panel-outer-spacing
      .panel.panel-primary
        .panel-inner
          .panel-heading
            .row
              .col-3.d-flex.align-items-center
                %i.fad.fa-rocket-launch.fa-4x
              .col-9.text-right
                .text-huge#ships-count-year{data: { 'quickstats-target': 'shipsCountYear' }}
                  = Model.year(Time.current.year).count
                %div
                  = I18n.t('labels.panels.ships_count_year', year: Time.zone.now.year)

  .col-12.col-md-6
    .panel-wrapper.panel-outer-spacing
      .panel.panel-primary
        .panel-inner
          .panel-heading
            .row
              .col-3.d-flex.align-items-center
                %i.fad.fa-starship.fa-4x
              .col-9.text-right
                .text-huge#ships-count-total{data: { 'quickstats-target': 'shipsCountTotal' }}
                  = Model.count
                %div
                  = I18n.t('labels.panels.ships_count_total')

  .col-12.col-md-6
    .panel-wrapper.panel-outer-spacing
      .panel.panel-primary
        .panel-inner
          .panel-heading
            .row
              .col-3.d-flex.align-items-center
                %i.fad.fa-users-class.fa-4x
              .col-9.text-right
                .text-huge#fleets-count-total{data: { 'quickstats-target': 'fleetsCountTotal' }}
                  = Fleet.count
                %div
                  = I18n.t('labels.panels.fleets_count_total')

