<div class="row">
  <div class="col-12.col-md-7">
    <div class="panel-wrapper panel-outer-spacing">
      <div class="panel">
        <div class="panel-inner">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= I18n.t(:"labels.panels.registrations") %>
            </h2>
          </div>
          <div class="panel-body">
            <div
              data-controller="chart"
              data-chart-url-value="<%= registrations_per_month_admin_api_v1_stats_url %>"
              data-chart-type-value="column"
              data-chart-height-value="344px"
              data-chart-tooltip-value="user"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-5">
    <div class="panel-wrapper panel-outer-spacing">
      <div class="panel">
        <div class="panel-inner">
          <div class="panel-heading">
            <h2 class="panel-title">
              <%= I18n.t(:"labels.panels.latest_users") %>
            </h2>
          </div>
          <div class="table-responsive" style="height: 318px;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= I18n.t(:"labels.table.user.username") %></th>
                  <th><%= I18n.t(:"labels.table.user.last_sign_in_at") %></th>
                  <th><%= I18n.t(:"labels.table.user.created_at") %></th>
                </tr>
              </thead>
              <tbody>
                <% @latest_users.each do |user| %>
                  <tr>
                    <td><%= user.username %></td>
                    <td>
                      <% if user.current_sign_in_at.present? %>
                        <%= time_ago_in_words(user.current_sign_in_at) %>
                      <% end %>
                    </td>
                    <td><%= I18n.l(user.created_at, format: :short) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="panel-footer.text-right">
            <%= link_to admin_users_path do %>
              <%= I18n.t('actions.more') %>
              <i class="fa fa-angle-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

