.row#admin
  .col-xs-12.col-md-12
    .row
      .col-xs-12.col-md-6
        %h1
          = I18n.t(:"headlines.admin.dashboard")

      .col-xs-12.col-md-6
        .btn-group.pull-right.resource-nav
          - if can? :reload, :ships
            %button.reload-ships.btn.btn-default.ladda-button{data: {style: "expand-right", action: reload_admin_ships_path, workerPath: admin_check_worker_state_path('ShipsWorker')}, class: ('loading' if @worker_running), onclick: "App.Ships.reload($(this)); return false;"}
              = I18n.t(:"actions.ship.reload")
          = link_to t(:'nav.update_locales'), admin_update_locales_path, method: :put, class: "btn btn-default"

    .row
      .col-md-6
        = render "latest_manufacturers_panel"
        = render "latest_components_panel"
      .col-md-6
        = render "latest_users_panel"
        = render "latest_ships_panel"
