<div data-controller="dashboard">
  <%= render('shared/page-header', title: I18n.t(:"headlines.admin.dashboard")) do %>
    <% if can? :reload, :models %>
      <%= render('shared/btn_a', onclick: 'App.Models.reload($(this)); return false;', label: I18n.t("actions.model.reload"), data: { action: reload_admin_models_path, workerPath: admin_check_worker_state_path('fleetyards_model_loader') }) %>
      <%= render('shared/btn_a', onclick: 'App.Models.reload($(this)); return false;', label: I18n.t("actions.model.reload_data"), data: { action: reload_data_admin_models_path, workerPath: admin_check_worker_state_path('fleetyards_sc_data_ship_loader') }) %>
    <% end %>
  <% end %>

  <div class="mx-auto px-4 sm:px-6 md:px-8">
    <%= render 'quick_stats' %>
  </div>
  <div class="mx-auto px-4 sm:px-6 md:px-8">
    <div class="flex mb-6">
      <div class="min-w-0 flex-1 flex-col">
        <%= render('shared/panel', title: I18n.t(:"labels.panels.visits_per_day")) do %>
          <div
            data-controller="chart"
            data-chart-url-value="<%= visits_per_day_admin_api_v1_stats_url %>"
            data-chart-type-value="area"
            data-chart-height-value="315px"
            data-chart-tooltip-value="visit"
            data-chart-refresh-value="true"
            style="height: 315px;"
          >
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex mb-6">
      <div class="min-w-0 flex-col mr-6 w-5/12">
        <%= render('shared/panel', title: I18n.t(:"labels.panels.most_viewed_pages")) do %>
          <div
            data-controller="chart"
            data-chart-url-value="<%= most_viewed_pages_admin_api_v1_stats_url %>"
            data-chart-type-value="bar"
            data-chart-height-value="344px"
            data-chart-tooltip-value="view"
            data-chart-refresh-value="true"
            style="height: 344px;"
          >
          </div>
        <% end %>
      </div>
      <div class="min-w-0 flex-1 flex-col">
        <%= render('shared/panel', title: I18n.t(:"labels.panels.visits_per_month")) do %>
          <div
            data-controller="chart"
            data-chart-url-value="<%= visits_per_month_admin_api_v1_stats_url %>"
            data-chart-type-value="column"
            data-chart-height-value="344px"
            data-chart-tooltip-value="visit"
            data-chart-refresh-value="true"
            style="height: 344px;"
          >
          </div>
        <% end %>
      </div>
    </div>

    <%= render 'users_panel' %>

    <div class="row">
      <div class="col-12.col-md-6">
        <%= render 'classification_chart_panel' %>
      </div>
      <div class="col-12.col-md-6">
        <%= render 'latest_models_panel' %>
      </div>
      <div class="col-12.col-md-6">
        <%= render 'production_status_chart_panel' %>
      </div>
      <div class="col-12.col-md-6">
        <%= render 'size_chart_panel' %>
      </div>
      <div class="col-12">
        <%= render 'models_chart_panel' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12.col-md-6">
        <%= render 'manufacturers_chart_panel' %>
      </div>
      <div class="col-12.col-md-6">
        <%= render 'latest_manufacturers_panel' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12.col-md-6">
        <%= render 'latest_components_panel' %>
      </div>
      <div class="col-12.col-md-6">
        <%= render 'components_chart_panel' %>
      </div>
    </div>
  </div>
</div>
