.row#admin
  .col-12
    .row
      .col-12.col-md-6
        %h1
          = I18n.t(:"headlines.admin.dashboard")

      .col-12.col-md-6
        .d-flex.justify-content-end
          .btn-group
            - if can? :reload, :models
              %button.reload-models.btn.btn-dark.ladda-button{data: {style: "expand-right", action: reload_admin_models_path, workerPath: admin_check_worker_state_path('ModelsWorker')}, class: ('loading' if @worker_running), onclick: "App.Models.reload($(this)); return false;"}
                = I18n.t(:"actions.model.reload")
    .row
      .col-12.col-lg-2
        = render 'quick_stats'
      .col-12.col-lg-10
        = render 'visits_panel'
        = render 'users_panel'
        .row
          .col-12.col-md-6
            = render 'classification_chart_panel'
          .col-12.col-md-6
            = render 'latest_models_panel'
          .col-12.col-md-6
            = render 'production_status_chart_panel'
          .col-12.col-md-6
            = render 'size_chart_panel'
          .col-12
            = render 'models_chart_panel'
        .row
          .col-12.col-md-6
            = render 'manufacturers_chart_panel'
          .col-12.col-md-6
            = render 'latest_manufacturers_panel'
        .row
          .col-12.col-md-6
            = render 'latest_components_panel'
          .col-12.col-md-6
            = render 'components_chart_panel'
