.row#users
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.backend.user.index")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"nav.subnav.new_user"), new_backend_user_path, class: "btn btn-default"

    .row
      .col-xs-12.col-md-6
        .pull-right
          = paginate @users

    = render partial: "backend/users/table", :@users => @users

    .row
      .col-xs-12.col-md-6
        .pull-right
          = paginate @users
