= form_for [:admin, commodity] do |form|
  .row
    .col-12.col-md-6.form-group{class: form_error?(commodity, :name)}
      = form.label :name
      = form.text_field :name, placeholder: I18n.t(:"helpers.placeholder.name"), class: 'form-control'
      %small
        = form_errors commodity, :name

    .col-12.col-md-6.form-group{class: form_error?(commodity, :commodity_type)}
      = form.label :commodity_type
      = form.select :commodity_type, Commodity.commodity_types.keys.map { |w| [Commodity.human_enum_name(:commodity_type, w), w] }, { include_blank: I18n.t(:"helpers.prompt.commodity.commodity_type") }, { class: 'form-control' }
      %small
        = form_errors commodity, :commodity_type

    .col-12.col-md-6.form-group{class: form_error?(commodity, :store_image)}
      = form.label :store_image
      = form.file_field :store_image, class: 'form-control'
      = form.hidden_field :store_image_cache
      %br
      - if commodity.store_image?
        = image_tag(commodity.store_image.url)
        = form.check_box :remove_store_image
        Remove Image
      %small
        = form_errors commodity, :store_image

  = render "shared/submit", path: admin_commodities_path
