- content_for :title do
  = I18n.t(:"title.commodity.index")
.row#commodities
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.admin.commodity.index")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"actions.admin.commodity.new"), new_admin_commodity_path, 'data-turbolinks': "false", class: "btn btn-default"

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        = paginate @commodities

    .row
      .col-xs-12.col-md-9
        .panel.panel-default
          = render partial: "admin/commodities/table", :@commodities => @commodities

      .col-xs-12.col-md-3
        = search_form_for [:admin, @q] do |f|
          .form-group
            = f.label :name_cont
            = f.search_field :name_cont, class: 'form-control'

          .form-group
            = f.label :commodity_type_eq
            = f.select :commodity_type_eq, options_from_collection_for_select(Commodity.type_filters, :value, :name, @q.commodity_type_eq), { include_blank: true }, {class: 'form-control'}

          .btn-group
            %button.btn.btn-primary
              Filter
            - if params[:q].present?
              %a.btn.btn-default{href: request.path, title: "Clear Search"}
                %i.fa.fa-times

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        = paginate @commodities
