= form_for [:admin, component] do |form|
  .row
    .col-xs-12.col-md-6.form-group{class: form_error?(component, :name)}
      = form.text_field :name, placeholder: I18n.t(:"helpers.placeholder.name"), class: 'form-control'
      %small
        = form_errors component, :name

    .col-xs-12.col-md-6.form-group{class: form_error?(component, :size)}
      = form.text_field :size, placeholder: I18n.t(:"helpers.placeholder.size"), class: 'form-control'
      %small
        = form_errors component, :size

  = render "shared/submit", path: admin_components_path
