%tr{id: component.id}
  %td.preview.text-center
    = image_tag component.store_image.url
  %td
    = component.name
  %td
    = component.size
  %td
    = component.manufacturer.name
  %td
    = I18n.t("filter.component.class.items.#{component.component_class.downcase}")
  %td.text-right
    .btn-group
      = link_to edit_admin_component_path(component), title: I18n.t(:"actions.edit"), class: "btn btn-default" do
        %i.fa.fa-edit
      = confirm_link_to admin_component_path(component), data: {notyConfirm: I18n.t(:"messages.confirm.delete")}, title: I18n.t(:"actions.delete"), method: :delete, class: "btn btn-danger" do
        %i.fa.fa-trash
