- content_for :title do
  = I18n.t(:"title.component.index")
.row#components
  .col-12.col-md-12

    .row
      .col-12.col-md-8
        %h1
          = I18n.t(:"headlines.admin.component.index")

      .col-12.col-md-4
        .d-flex.justify-content-end
          .btn-group
            = link_to I18n.t(:"actions.admin.component.new"), new_admin_component_path, 'data-turbolinks': "false", class: "btn btn-dark"

    .row
      .col-12.d-flex.justify-content-center
        = paginate @components

    .row.mb-3
      .col-12.col-md-9
        .panel.panel-default
          = render partial: "admin/components/table", :@components => @components

      .col-12.col-md-3
        = search_form_for [:admin, @q] do |f|
          .form-group
            = f.label :name_cont
            = f.search_field :name_cont, class: 'form-control'

          .form-group
            = f.label :size_eq
            = f.search_field :size_eq, class: 'form-control'

          .form-group
            = f.label :component_class_eq
            = f.select :component_class_eq, options_from_collection_for_select(Component.class_filters, :value, :name, @q.component_class_eq), { include_blank: true }, {class: 'form-control'}

          .btn-group
            %button.btn.btn-primary
              Filter
            - if params[:q].present?
              %a.btn.btn-dark{href: request.path, title: "Clear Search"}
                %i.fa.fa-times

    .row
      .col-12.d-flex.justify-content-center
        = paginate @components
