- content_for :title do
  = I18n.t(:"title.component.index")
.row#components
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.admin.component.index")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"actions.admin.component.new"), new_admin_component_path, class: "btn btn-default"

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        = paginate @components

    .panel.panel-default
      = render partial: "admin/components/table", :@components => @components

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        = paginate @components
