%tr{id: user_ship.id}
  %td
    = user_ship.name
  %td
    = user_ship.ship.name
  %td
    - if user_ship.purchased?
      %i.fa.fa-check
    - else
      %i.fa.fa-square-o
  %td
    = time_ago_in_words(user_ship.updated_at)
    = "(#{l(user_ship.updated_at, format: :short)})"
  %td
    = time_ago_in_words(user_ship.created_at)
    = "(#{l(user_ship.created_at, format: :short)})"
  %td
