- content_for :title do
  = UserShip.name.humanize
.row#user_ships
  .col-xs-12.col-md-12

    .row
      .col-xs-12
        %h1
          = UserShip.name.humanize

    .row
      .col-xs-12.col-md-6
        = paginate @user_ships
    .row
      .col-xs-12.col-md-9
        .panel.panel-default
          = render partial: "admin/user_ships/table", :@user_ships => @user_ships

      .col-xs-12.col-md-3
        = search_form_for [:admin, @q] do |f|
          .form-group
            = f.label :name_cont
            = f.search_field :name_cont, class: 'form-control'

          .btn-group
            %button.btn.btn-primary
              Filter
            - if params[:q].present?
              %a.btn.btn-default{href: request.path, title: "Clear Search"}
                %i.fa.fa-times
    .row
      .col-xs-12.col-md-6
        = paginate @user_ships
