%tr{id: image.id}
  %td.preview.text-center
    = image_tag image.name.small
  %td
    = image.name.file.filename
  %td
    - unless image.gallery.blank?
      %a{href: send("gallery_admin_#{image.gallery.class.name.downcase}_path", image.gallery.id)}
        = image.gallery.name
  %td
    = time_ago_in_words(image.created_at)
    = "(#{l(image.created_at, format: :short)})"
  %td
    .btn-group
      %button.btn.btn-default{class: ('active' if image.enabled?), type: "button", onclick: "App.Resources.stateChange($(this)); return false;", data: {action: toggle_admin_image_path(image), resource: 'image', toggle: "button"}}
        %i.fa{class: "fa-#{(image.enabled? ? 'check' : 'square-o')}"}
      = confirm_link_to admin_image_path(image), data: {notyConfirm: I18n.t(:"messages.confirm.delete")}, title: I18n.t(:"actions.delete"), method: :delete, class: "btn btn-danger" do
        %i.fa.fa-trash
