.row#backend-images
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.backend.image.index")

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"actions.backend.image.new"), new_backend_image_path, class: "btn btn-default"

    .row
      .col-xs-12.col-md-6
        = render "shared/filter", resource: "image", name: "ship", filters: Ship.all, translateable: true
      .col-xs-12.col-md-6
        = paginate @images

    .panel.panel-default
      = render partial: "backend/images/table", :@images => @images

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        = paginate @images
