%p
  = I18n.t(:"devise.mailer.reset_password_instructions.content.hello")
  #{@resource.email}!
%p
  = I18n.t(:"devise.mailer.reset_password_instructions.content.first_text")
%p= link_to I18n.t(:"devise.mailer.reset_password_instructions.content.change_link") , edit_user_password_url(reset_password_token: @token)
%p
  = I18n.t(:"devise.mailer.reset_password_instructions.content.second_text")
%p
  = I18n.t(:"devise.mailer.reset_password_instructions.content.third_text")
