= form_for [:admin, @user] do |form|
  .row
    .col-12.col-md-6.form-group{class: form_error?(@user, :email)}
      = form.text_field :email, placeholder: I18n.t(:"helpers.placeholder.user.email"), class: 'form-control'
      %small
        = form_errors @user, :email
    .col-12.col-md-6.form-group{class: form_error?(@user, :username)}
      = form.text_field :username, placeholder: I18n.t(:"helpers.placeholder.user.username"), class: 'form-control'
      %small
        = form_errors @user, :username
  .row
    .col-6.col-md-3
      - unless user.id == current_user.id
        .form-group
          = form.check_box :admin, placeholder: I18n.t(:"helpers.placeholder.user.admin"), class: 'checkbox'
          = form.label :admin do
            = I18n.t(:"activerecord.attributes.user.admin")


  = render "shared/submit", path: admin_users_path
