- content_for :title do
  = I18n.t(:"title.user.index")
.row#users
  .col-12.col-md-12

    .row
      .col-12.col-md-8
        %h1
          = I18n.t(:"headlines.admin.user.index")
          %small.text-muted
            = @users.count
            of
            = @users.total_count

      .col-12.col-md-4
        .d-flex.justify-content-end
          .btn-group
            = link_to I18n.t(:"actions.admin.user.new"), new_admin_user_path, class: "btn btn-dark"

    .row
      .col-12.d-flex.justify-content-center
        = paginate @users

    .row.mb-3
      .col-12.col-md-9
        .panel.panel-default
          = render partial: "admin/users/table", :@users => @users

      .col-12.col-md-3
        = search_form_for [:admin, @q] do |f|
          .form-group
            = f.label :username_cont
            = f.search_field :username_cont, class: 'form-control'

          .form-group
            = f.label :email_cont
            = f.search_field :email_cont, class: 'form-control'

          .btn-group
            %button.btn.btn-primary
              Filter
            - if params[:q].present?
              %a.btn.btn-dark{href: request.path, title: "Clear Search"}
                %i.fa.fa-times
    .row
      .col-12.justify-content-center
        = paginate @users
