- cache manufacturer do
  .col-xs-12.col-sm-6.col-md-4
    .manufacturer-panel.panel.panel-default
      .panel-heading
        %h2.panel-title
          %a{href: manufacturer_path(manufacturer.slug)}
            = manufacturer.name.html_safe
      - if manufacturer.logo.present?
        .profile-image.text-center
          %a{href: manufacturer_path(manufacturer.slug)}
            = image_tag manufacturer.logo.small
      - if manufacturer.description.present?
        .panel-body
          = manufacturer.description
      - if manufacturer.known_for.present?
        .panel-footer
          = I18n.t(:"labels.manufacturer.known_for")
          = manufacturer.known_for
      %a.btn.btn-default.btn-block{href: manufacturer_path(manufacturer.slug)}
        = I18n.t(:"actions.more_info")
