- content_for :title do
  = I18n.t(:"title.manufacturer.edit")
.row
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-8
        %h1
          = I18n.t(:"headlines.manufacturer.edit", name: manufacturer.name.html_safe)

      .col-xs-12.col-md-4
        .btn-group.pull-right.resource-nav
          = link_to I18n.t(:"actions.back"), ships_path, class: "btn btn-default"

    = form_for manufacturer do |form|
      .row
        .col-xs-12.col-md-6.form-group{class: form_error?(manufacturer, :name)}
          = form.text_field :name, placeholder: I18n.t(:"helpers.placeholder.name."), class: 'form-control'
          %small
            = form_errors manufacturer, :name

      .row
        .col-xs-12.col-md-6.form-group{class: form_error?(manufacturer, :image)}
          = form.file_field :image, class: 'form-control'

      = render "shared/submit", path: ships_path
