- content_for :title do
  = I18n.t(:"title.manufacturer.index")
.row#manufacturers
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-md-12
        %h1
          = I18n.t(:"headlines.manufacturer.index")

    .row
      .col-xs-12.col-md-6
      .col-xs-12.col-md-6
        .pull-right
          = paginate @manufacturers

    = render "shared/google_adsense", slot: "2299975232"

    .row.is-flex
      = render partial: "manufacturers/show", collection: @manufacturers, as: :manufacturer

    = render "shared/google_adsense", slot: "3776708433"
    
    .row
      .col-xs-12.col-md-12
        .pull-right
          = paginate @manufacturers
