%tr{id: celestial_object.id}
  %td.preview.text-center
    = image_tag celestial_object.store_image.url
  %td
    = celestial_object.name
  %td
    = celestial_object.starsystem.name
  %td
    - if celestial_object.hidden?
      %i.fa.fa-check
    - else
      %i.far.fa-square
  %td.text-right
    .btn-group
      = link_to edit_admin_celestial_object_path(celestial_object), 'data-turbolinks': "false", title: I18n.t(:"actions.edit"), class: "btn btn-dark" do
        %i.fa.fa-edit
      = confirm_link_to admin_celestial_object_path(celestial_object), data: { notyConfirm: I18n.t(:"messages.confirm.delete") }, title: I18n.t(:"actions.delete"), method: :delete, class: "btn btn-danger" do
        %i.fa.fa-trash
