- content_for :title do
  = I18n.t(:"title.image.index")
.row#images
  .col-xs-12.col-md-12

    .row
      .col-xs-12.col-sm-6
        %h1
          = I18n.t(:"headlines.image.index")
      .col-xs-12.col-sm-6
        .pull-right
          = paginate @images

    .row.is-flex
      - @images.each do |image|
        - cache image do
          .col-md-3.col-sm-3.col-xs-12
            %a.thumbnail{href: image.name, title: image.name.file.filename, data: {gallery: true}}
              %img.img-responsive{src: image.name.small, alt: image.name.file.filename}

    .row
      .col-xs-12.col-md-12
        .pull-right
          = paginate @images

= render "shared/gallery_modal"
