.version
  = "#{Fleetyards::CODENAME} (#{Fleetyards::VERSION})"
%footer#main
  .container
    .pull-left
      %span.copyright
        &copy; 2014
        = link_to "Marten Klitzke - mortik.", "mailto:info@mortik.de", target: "_blank", data: { no_turbolink: 'true'}
      = " | "
      %a.rsi-link{href: "https://robertsspaceindustries.com/", target: "_blank"}
        Roberts Space Industries

    .pull-right.text-right
      .btn-group.btn-group-xs
        - I18n.available_locales.each do |locale|
          = link_to I18n.t(:"locales.#{locale}"), {new_locale: locale, locale: locale}, class: "btn btn-default#{(' btn-primary' if locale == I18n.locale)}"
