.version
  = "#{Fleetyards::CODENAME} (#{Fleetyards::VERSION})"
%footer#main-footer
  .container
    .row
      .col-xs-12.col-sm-8.col-md-8
        %nav
          %a{href: "https://robertsspaceindustries.com/", target: "_blank"}><
            Roberts Space Industries
          = " | "
          %a{href: privacy_path}><
            = I18n.t(:"nav.privacy")
          = " | "
          %a{href: impressum_path}><
            = I18n.t(:"nav.impressum")

      .col-xs-12.col-sm-4.col-md-4
        .text-right
          .btn-group.btn-group-xs
            - I18n.available_locales.each do |locale|
              = link_to locale.upcase, {locale: locale}, class: "btn btn-default#{(' btn-primary' if locale == I18n.locale)}"

    .clearfix

    .row
      .col-xs-12.col-md-8.col-md-offset-2.text-center#disclaimer
        %p.copyright
          Copyright &copy; 2014
          = link_to "Marten Klitzke - mortik.", "mailto:info@mortik.de", target: "_blank", data: { no_turbolink: 'true'}
        %p
          Star Citizen and all related properties (including Logos, Images and Designs) are trademarks or registered trademarks of Cloud Imperium Games Corporation. All rights reserved.
