%ul.nav.navbar-nav
  %li{class: active_nav?}
    = link_to I18n.t(:"nav.home"), root_path
  %li.dropdown{class: active_nav?(%w(ships manufacturers) + ComponentCategory.all.map { |c| "#{c.slug}_component" })}
    %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
      = I18n.t(:"nav.ships")
      %b.caret
    %ul.dropdown-menu
      %li{class: active_nav?("ships")}
        = link_to I18n.t(:"nav.ship.overview"), ships_path
      %li.divider
      %li{class: active_nav?("manufacturers")}
        = link_to I18n.t(:"nav.manufacturers"), manufacturers_path
      %li.divider
      - ComponentCategory.all.each do |category|
        %li{class: active_nav?("#{category.slug}_component")}
          = link_to I18n.t(:"nav.component.#{category.slug}"), send("#{category.slug}_components_path")
  %li{class: active_nav?("images")}
    = link_to I18n.t(:"nav.images"), images_path
  %li{class: active_nav?("hangar")}
    = link_to I18n.t(:"nav.hangar"), hangar_path
