%nav#main-nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-ex1-collapse'}}
        %span.sr-only
          = I18n.t(:"nav.header.toggle")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path, class: get_active_nav}
        = I18n.t(:"title.default")

    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li{class: get_active_nav('home')}
          = link_to I18n.t(:"nav.home"), root_path
        %li{class: get_active_nav('ships')}
          = link_to I18n.t(:"nav.ships"), ships_path
      = render "layouts/user_nav"
