%ul.nav.navbar-nav.navbar-right
  - if user_signed_in?
    %li.dropdown{class: active_nav?('users')}
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        %img.gravatar{src: gravatar_path, alt: "avatar", with: 20, height: 20}
        %span.user-login
          = current_user.username
        /%i.fa.fa-user
        %b.caret
      %ul.dropdown-menu.navbar-right
        %li{class: active_nav?('users')}
          = link_to I18n.t(:"nav.settings"), edit_user_registration_path
        - if current_user.admin?
          %li.divider
          - if backend?
            %li
              = link_to I18n.t(:"nav.frontend"), root_path
          - else
            %li
              = link_to I18n.t(:"nav.backend"), backend_root_path
        %li.divider
        %li
          = link_to I18n.t(:"actions.sign_out"), destroy_user_session_path, method: :delete
  - else
    - if registration_enabled?
      %li{class: active_nav?('registration')}
        = link_to I18n.t(:"actions.sign_up"), new_registration_path
    %li{class: active_nav?(%w(sessions users))}
      = link_to I18n.t(:"actions.sign_in"), new_user_session_path
