!!!
%html{lang: I18n.locale}
  %head= render "layouts/head"
  %body{data: {success: notice, info: alert, error: flash[:error], warning: flash[:warning]}}
    = render "layouts/background"
    = render "layouts/header"

    = render 'cookies_eu/consent_banner'
    .container
      != yield

    = render "layouts/footer"
    - if Rails.env.production? && !backend?
      = render "layouts/ga"
