<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/meta" %>
    <%= render "layouts/app_intro" %>
    <%= render "layouts/app_env" %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'frontend.scss' %>
    <%= vite_typescript_tag 'frontend' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="app">
      <div class="app-intro">
        <h1>
          <img src="<%= vite_asset_path('images/logo.png') %>" alt="<%= I18n.t("title.default") %>" class="logo" />
          <%= I18n.t("title.default") %>
        </h1>
        <div>
          <div class="loader">
            <div class="cube1 cube"></div>
            <div class="cube2 cube"></div>
            <div class="cube4 cube"></div>
            <div class="cube3 cube"></div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
