!!!
%html{lang: I18n.locale}
  %head= render "layouts/head"
  %body{data: {success: notice, info: alert, error: flash[:error], warning: flash[:warning]}, style: "background-image: url(#{current_background_image})"}
    = render "layouts/header"

    .container
      != yield

    = render "layouts/footer"
    - if Rails.env.production?
      = render "layouts/ga"
